NET "i_clock" LOC = "B8";
NET "i_reset" LOC = "B18";
NET "i_soc" LOC = "D18";

NET "io_ladder<0>" LOC = "L15";
NET "io_ladder<1>" LOC = "K12";
NET "io_ladder<2>" LOC = "L17";
NET "io_ladder<3>" LOC = "M15";
NET "io_ladder<4>" LOC = "K13";
NET "io_ladder<5>" LOC = "L16";
NET "io_ladder<6>" LOC = "M14";
NET "io_ladder<7>" LOC = "M16";

NET "io_ladder<8>" LOC = "M13";
NET "io_ladder<9>" LOC = "R18";
NET "io_ladder<10>" LOC = "R15";
NET "io_ladder<11>" LOC = "T17";
NET "i_from_comparator" LOC = "P17";
NET "o_eoc" LOC = "R16";
NET "o_soc" LOC = "T18";
#NET "JB<7>" LOC = "U18";

NET "o_segment<0>" LOC = "L18";
NET "o_segment<1>" LOC = "F18";
NET "o_segment<2>" LOC = "D17";
NET "o_segment<3>" LOC = "D16";
NET "o_segment<4>" LOC = "G14";
NET "o_segment<5>" LOC = "J17";
NET "o_segment<6>" LOC = "H14";
#NET "o_dp" LOC = "C17";

NET "o_anode<0>" LOC = "F17";
NET "o_anode<1>" LOC = "H17";
NET "o_anode<2>" LOC = "C18";
NET "o_anode<3>" LOC = "F15";
